/* body {
    padding: 1.5rem;
} */

.line {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box {
    text-align: center;
    height: 100px;
    width: 100px;
    background-color: blue;
    border: 2px solid black;
    font-size: 3rem;
    color: white;
}